<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="velore.dao.CommentMapper">

    <select id="getTotal" parameterType="Integer">
        select count(id) from easy_blog.comment where article_id = #{id}
    </select>

</mapper>