<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="velore.dao.UserMapper">

    <resultMap id="UserMap" type="User">
    </resultMap>

    <select id="getCount" resultType="Integer">
        select count(easy_blog.user.id) from easy_blog.user;
    </select>

</mapper>