<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="velore.dao.UserMapper">

    <resultMap id="UserMap" type="User">
    </resultMap>

    <select id="getTotalByUserType" parameterType="Integer">
        select count(id) from easy_blog.user where user_type = #{type};
    </select>

    <select id="getTotalByName" parameterType="String">
        select count(id) from easy_blog.user where user_type = #{name};
    </select>

</mapper>